*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #fff;
}
header{
    background: #fff;
    padding: 10px;
}

.teklifal{
    background-image: linear-gradient(90deg,#7028e4,#e5b2ca); 
   
}
.checked-background {
    background-color: #cce7ff;
  }

